In [1]:
import mysql.connector
import requests
import pandas as pd
from tkinter import *
#import pdfkit as pdf
import os
import webbrowser

In [2]:
def add_montadora():
    
    query_INPUT_MONTADORA_ID = INPUT_MONTADORA_ID.get()
    query_INPUT_MONTADORA_NOME = INPUT_MONTADORA_NOME.get()
    
    check1 = verifica_id(query_INPUT_MONTADORA_ID,'MONTADORA_ID', 'montadoras')

    check2 = verifica_nome(query_INPUT_MONTADORA_NOME,'MONTADORA_NOME','montadoras')
    print(check1)
    print(check2)
    if (check1 == 1 and check2 == 1):
        query = "insert into montadoras values(" + query_INPUT_MONTADORA_ID +""",'"""+query_INPUT_MONTADORA_NOME+"');"

        cursor.execute(query)
        con_.commit()
        
        end = Tk()
        
        mensagem = Label(end,text = "Montadora incluida com sussexo!!!")
        mensagem.grid(column=0,row=0,padx=10, pady=10)
        
        end.mainloop() 
        
    else:
        warning = Tk()
        
        mensagem_aviso = Label(warning,text = "NÃ£o foi possivel inserir montadora pois ID ou Nome ja existem!")
        mensagem_aviso.grid(column=0,row=0,padx=10, pady=10)
        
        warning.mainloop()

In [3]:
def rmv_montadora():
    
    query_INPUT_MONTADORA_ID = INPUT_MONTADORA_ID.get()
    query_INPUT_MONTADORA_NOME = INPUT_MONTADORA_NOME.get()
    
    query = """DELETE FROM montadoras WHERE MONTADORA_ID ="""+query_INPUT_MONTADORA_ID+ ";"
    
    cursor.execute(query)
    con_.commit()
    
    texto_saida["text"] = query

In [4]:
def add_veiculo():
    
    query_INPUT_VEICULO_ID = INPUT_VEICULO_ID.get()
    query_INPUT_VEICULO_NOME = INPUT_VEICULO_NOME.get()
    query_INPUT_VEICULO_MONTADORA_ID = INPUT_VEICULO_MONTADORA_ID.get()
    
    query = "insert into veiculos values(" + query_INPUT_VEICULO_ID +""",'"""+query_INPUT_VEICULO_NOME+"""',"""+query_INPUT_VEICULO_MONTADORA_ID+");"
    
    cursor.execute(query)
    con_.commit()
    
    texto_saida["text"] = query

In [5]:
def rmv_veiculo():
    
    query_INPUT_VEICULO_ID = INPUT_VEICULO_ID.get()
    query_INPUT_VEICULO_NOME = INPUT_VEICULO_NOME.get()
    query_INPUT_VEICULO_MONTADORA_ID = INPUT_VEICULO_MONTADORA_ID.get()
    
    query = """DELETE FROM veiculos WHERE VEICULO_ID ="""+query_INPUT_VEICULO_ID+ ";"

    cursor.execute(query)
    con_.commit()
    
    texto_saida["text"] = query

In [6]:
def gera_relatorio():
    df = pd.read_sql( """select * from veiculos inner join montadoras on veiculos.MONTADORA_ID = montadoras.MONTADORA_ID;""", con = con_)
    df = df.drop(columns=['MONTADORA_ID'])
    df.to_html('RELATORIO.html')
    #pdf.from_url('RELATORIO.html', 'Relatorio.pdf')
    webbrowser.open('RELATORIO.html', new= 2)

In [7]:
def verifica_id(ID,coluna,tabela):
     
    df = pd.read_sql( """select * from """+ tabela +""";""", con = con_)
    lista_id = df[coluna]
    for i in range (len(lista_id)):
        if lista_id[i] == int(ID):
            return 0
    return 1

In [8]:
def verifica_nome(NOME,coluna,tabela):
    df = pd.read_sql( """select * from """+ tabela +""";""", con = con_)
    lista_nome = df[coluna]
    for i in range (len(lista_nome)):
        if lista_nome[i] == str(NOME):
            return 0
    return 1

In [9]:
con_ = mysql.connector.connect(host='localhost',database='car_table',user='root',password='MANIeri281298')
if con_.is_connected():
    cursor = con_.cursor()
    print('conectado')

conectado

In [10]:
janela = Tk()

#titulo
janela.title("acesso a bd")


grid_00 = Label(janela, text = "")
grid_00.grid(column=0,row=0, padx=10, pady=10)

grid_10 = Label(janela, text = "TECNOMOTOR")
grid_10.grid(column=1,row=0, padx=10, pady=10)

grid_20 = Label(janela, text = "status BD:")
grid_20.grid(column=2,row=0, padx=10, pady=10)

grid_30 = Label(janela, text = "")
grid_30.grid(column=3,row=0, padx=10, pady=10)

if con_.is_connected():
    grid_30["text"] = "conectado"
else:
    grid_30["text"] = "desconectado"


#montadora
ADD_MONTADORA_LABEL = Label(janela,text = "Montadora")
ADD_MONTADORA_LABEL.grid(column=0,row=1,padx=10, pady=10)


MONTADORA_ID = Label(janela,text = "MONTADORA_ID")
MONTADORA_ID.grid(column=0,row=2, padx=10, pady=10)

MONTADORA_NOME = Label(janela,text = "MONTADORA_NOME")
MONTADORA_NOME.grid(column=1,row=2, padx=10, pady=10)


INPUT_MONTADORA_ID = Entry(janela, bd = 5)
INPUT_MONTADORA_ID.grid(column=0,row=3,padx=10, pady=10)

INPUT_MONTADORA_NOME = Entry(janela, bd = 5)
INPUT_MONTADORA_NOME.grid(column=1,row=3,padx=10, pady=10)

BTN_ADD_MONTADORA = Button(janela,text = "Add Montadora", command = add_montadora)
BTN_ADD_MONTADORA.grid(column=2,row=3,padx=10, pady=10)

BTN_RMV_MONTADORA = Button(janela,text = "Rmv Montadora", command = rmv_montadora)
BTN_RMV_MONTADORA.grid(column=3,row=3,padx=10, pady=10)

#Veiculo
VEICULO_LABEL = Label(janela,text = "Veiculo")
VEICULO_LABEL.grid(column=0,row=4,padx=10, pady=10)


VEICULO_ID = Label(janela,text = "VEICULO_ID")
VEICULO_ID.grid(column=0,row=5, padx=10, pady=10)

VEICULO_NOME = Label(janela,text = "VEICULO_NOME")
VEICULO_NOME.grid(column=1,row=5, padx=10, pady=10)

VEICULO_MONTADORA_ID = Label(janela,text = "MONTADORA_ID")
VEICULO_MONTADORA_ID.grid(column=2,row=5, padx=10, pady=10)



INPUT_VEICULO_ID = Entry(janela, bd = 5)
INPUT_VEICULO_ID.grid(column=0,row=6,padx=10, pady=10)

INPUT_VEICULO_NOME = Entry(janela, bd = 5)
INPUT_VEICULO_NOME.grid(column=1,row=6,padx=10, pady=10)

INPUT_VEICULO_MONTADORA_ID = Entry(janela, bd = 5)
INPUT_VEICULO_MONTADORA_ID.grid(column=2,row=6,padx=10, pady=10)

BTN_ADD_VEICULO = Button(janela,text = "Add Veiculos", command = add_veiculo)
BTN_ADD_VEICULO.grid(column=3,row=6,padx=10, pady=10)

BTN_RMV_VEICULO = Button(janela,text = "Rmv Veiculos", command = rmv_veiculo)
BTN_RMV_VEICULO.grid(column=4,row=6,padx=10, pady=10)

texto_saida = Label(janela, text="")
texto_saida.grid(column=0,row=7, padx=10, pady=10)

BTN_RELATORIO = Button(janela,text = "Gerar Relatorio", command = gera_relatorio)
BTN_RELATORIO.grid(column=0,row=8,padx=10, pady=10)

janela.mainloop() #permite que a janela fique em loop na tela

1
0
1
1

In [189]:
df = pd.read_sql( """select * from """+ "montadoras" +""";""", con = con_)
lista_nome = df['MONTADORA_ID']
for i in range (len(lista_nome)):
    if lista_id[i] == int("90"):
        print ("retorna 0")
print ("retorna 1")

retorna 0

KeyError: 2

In [196]:
df = pd.read_sql( """select * from """+ 'montadoras' +""";""", con = con_)
lista_nome = df["MONTADORA_NOME"]
for i in range (len(lista_nome)):
    if lista_nome[i] == "KIA":
        print(lista_nome[i]) 
print("1")

KIA
1

In [197]:
for i in range (len(lista_nome)):
    print(lista_nome[i])

MERCEDES
MERCEDASAS
MERCEDAS BENZ
KIA
VW

In [190]:
df

   MONTADORA_ID MONTADORA_NOME
0            25       MERCEDES
1            90            KIA
2            99             VW